body {
    /*
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-image: url("../../images/login-background.jpg");
    background-size: cover;
    */
}

label {
    font-weight: bold;
}