body {
    background-image: url("../../images/background-pattern.png");
    background-repeat: repeat;
}

@media only screen and (max-width : 640px) {
    #myChart {
        height: none;
    }
}
  
@media only screen and (max-width : 940px) {
    #myChart {
        height: none;
    }
}
  
@media only screen and (max-width : 640px) {
    #myChart {
        height: none;
    }
}