img {
    height: 24px;
    width: 24px;
    color: indigo;
}

.navbar {
    box-shadow: 0px 0.5px 4px grey;
}

.navbar-toggler-icon {
    background-image: url("../../images/menu.jpg");
}

.custom-toggler, .navbar-toggler {
    border: 1px solid black;
}




.nav-link:hover .nav-item:hover {
    font-weight: bold;
}
  

span:hover {
    cursor: pointer;
}